.col-group > div {
  padding: 0em 1em 0;
}

@media screen and (min-width: 50em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 33.3333333%;
  }
}